$blur: 5px;
$gap: 1em;
$b-radius: 6px;

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;

  h1 {
    margin-bottom: 0.5em;
  }
}

.game-list {
  padding: 1em;
  gap: $gap;
  width: 90%;
}

.anchor-wrap {
  border-radius: $b-radius;
  position: relative;
  display: block;
  overflow: hidden;
  color: black;

  .game-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(125, 125, 125, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .game-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 8px rgba(250 250 250 / 0.8);
    &:hover {
      box-shadow: inset 0 0 20px rgba(250 250 250 / 0.6);
    }
  }
}

#deals-container {
  color: white;
  width: 85%;
  background-color: rgb(37, 37, 37);
  padding: 2em;
  border-radius: 10px;
}

#game-title {
  text-align: center;
}

#cover-img {
  width: 80%;
}

#random-quote {
  white-space: pre-wrap;
  text-align: center;
}

.deal {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(92, 92, 92);
  &:not(:nth-of-type(1)) {
    border-top: none;
  }
  padding: 0.8em;
}

.store-wrap {
  display: flex;
  align-items: center;
}

.deal-store-img {
  width: auto;
  height: 18px;
}

.retail-price {
  color: rgb(150, 150, 150);
  text-decoration: line-through;
}

.deal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 92, 92);
  border-radius: 10px;
  padding: 0.4em;
}

/* utility classes */
.no-display {
  display: none;
}

.grid {
  display: grid;
  &.flow-grid {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 175px;
  }
  &.two-columns {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

.blur {
  filter: blur($blur);
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
}

.flex {
  display: flex;
  &.flex-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &.left {
    gap: 1em;
  }
  &.right {
    align-items: stretch;
  }
}